{% block body %}
    <div class="container"><h1>Я съел логи, иди погуляй</h1></div>
    <img src="https://i.pinimg.com/236x/f3/96/29/f3962950aa795feacdd7c4d6cdd30ca5.jpg" alt="альтернативный текст"
    width="640"
    />
{% endblock %}